# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Compiler files
cache/
out/

# Docs
docs/

# Dotenv file
.env

# Build artifacts
cache/
cache_hardhat/

# Broadcast logs (deployment transactions)
# Mantieni solo i deployment di testnet/mainnet, ignora localhost
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Library dependencies (except forge-std)
lib/*
!lib/forge-std/
# Foundry cache
.cache/

.states/
artifacts/
vm-*/
contracts/